head
    block title
    meta(charset='utf-8')
    link(rel="stylesheet", href="/css/style.css")
body
    div.wrapper
        header
            div.header__item
                block return
        div.container
            nav
            article
                block content
            aside
        footer
            div.footer__item


    script(src="/js/jquery-3.5.1.min.js")
    script(src="/js/index.js")
